<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="col mx-auto w-50 mb-4">
        <h1>welcome to<i class="fas fa-book-open"></i><span class="top-page-font" style="font-weight:bold;">Bookers</span> !!</h1>
        <p class="py-1">in <i class="fas fa-book-open"></i><span style="weight:bold;">Bookers</span>,</p>
        <p>you can share and exchange your opinions , inpressions , and emotions</p>
        <p class="py-1">about various books!</p>
      </div>
         <div class="col mx-auto w-50 text-center mt-4">
            <p>CopyRight Infratop.inc</p>
         </div>
    </div>
  </div>
</div>