

 .submit-title{
   background-color:green;
   color: white;
   border-radius: 5px;
 }

 .login-item{
  background-color:lightseagreen;
  color: white;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
 }
 .signup-item{
  background-color:seagreen;
  color: white;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
 }
 .actions-title{
  background-color: green;
  color: white;
  margin-top: 15px;
  border-radius:5px ;
  border-color: white;
  margin-bottom: 5px;
 }

.actions2-title{
  background-color: blue;
  color: white;
  margin-top: 10px;
  border-radius:5px ;
  border-color: white;
  margin-bottom: 5px;
 }

 .submit-title{
  background-color:seagreen;
  color: white;
  border-radius: 5px;
  height: 30px;
  margin-top: 5px;
}
.submit-edit{
 background-color:seagreen;
 color: white;
 border-radius: 5px;
 height: 30px;
}

.notice {
  color: white;
  background-color: blue;
}
.alert {
  color: white;
  background-color: red;
}

.flash-title{
 color:green;
}
.hidden{
 display:none;
}